# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# React Native
.android/
.idea/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.gradle
android/app/build/
android/build/
ios/Pods/
ios/build/
*.xcworkspace

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Vercel (if using)
.vercel
